@page "/gamerequest/delete/{id:int}"
@attribute    [Authorize(Roles = "User,Admin")]
@inherits DeleteGameRequest

<h1>@L.GetLocalization("GameRequests") - @L.GetLocalization("Delete")</h1>
<div class="alert alert-danger" role="alert">
    @L.GetLocalization("DeleteMessage") @L.GetLocalization("GameRequest") ?
</div>
<div class="shadow-lg rounded form-box">
    <div class="row">
        <div class="col-md-12">
            <EditForm Model="GameRequest" OnSubmit="@FormSubmit">
                <DataAnnotationsValidator/>
                <ValidationSummary/>
                <div class="form-group form-inline">
                    <label for="Date">@L.GetLocalization("Date")</label>
                    <InputDate id="Date" @bind-Value="GameRequest.Date" disabled/>
                </div>
                <div class="form-group form-inline">
                    <label for="Player">@L.GetLocalization("Player")</label>
                    <InputText id="Player" class="form-control" @bind-Value="GameRequest.Player.UserName" disabled/>
                </div>
                <div class="form-group form-inline">
                    <label for="Expired">@L.GetLocalization("Expired")</label>
                    <InputCheckbox id="Expired" class="form-control" @bind-Value="GameRequest.Expired" disabled/>
                </div>
                <button class="btn btn-primary" type="submit">@L.GetLocalization("Submit")</button>
                <input type="button" value="@L.GetLocalization("Cancel")" @onclick="Cancel" class="btn btn-secondary"/>
            </EditForm>
        </div>
    </div>
</div>