@page "/gamerequest/detail/{id:int}"
@attribute [Authorize(Roles = "User,Admin")]
@inherits DetailGameRequest

<h1>@L.GetLocalization("GameRequests") - @L.GetLocalization("Detail")</h1>
<div class="shadow-lg rounded form-box">
    <div class="row">
        <div class="col-md-12">
            <EditForm Model="GameRequest">
                <DataAnnotationsValidator/>
                <ValidationSummary/>
                <div class="form-group form-inline">
                    <label for="Date">@L.GetLocalization("Date")</label>
                    <InputDate id="Date" @bind-Value="GameRequest.Date" disabled/>
                </div>
                <div class="form-group form-inline">
                    <label for="Player">@L.GetLocalization("Player")</label>
                    <InputText id="Player" class="form-control" @bind-Value="GameRequest.Player.UserName" disabled/>
                </div>
                <div class="form-group form-inline">
                    <label for="Expired">@L.GetLocalization("Expired")</label>
                    <InputCheckbox id="Expired" class="form-control" @bind-Value="GameRequest.Expired" disabled/>
                </div>
                <input type="button" value="@L.GetLocalization("CreateGame")" @onclick="@CreateGame" class="btn btn-primary"/>
            </EditForm>
        </div>
    </div>
</div>