@page "/gamerequest"
@using WarhammerTracking.Data
@using WarhammerTracking.Data.Game
@using WarhammerTracking.GameRequest
@attribute [Authorize(Roles = "User,Admin")]
@inject GameRequestDataAccessProvider GameRequestDataAccessProvider

<h1>Game Requests</h1>
    <div class="shadow-lg rounded form-box">
    <div class="row">
<div class="col-md-12">
    <a href="/gamerequest/add" class="btn btn-primary">Add</a>
    <DataGrid Items="_gameRequests" PageSize="5">
        <Column>
            <DataGridColumn Items="@_gameRequests" ColumnName="Date" DisplayColumnName="Date"></DataGridColumn> 
            <DataGridColumn Items="@_gameRequests" ColumnName="PlayerUserName" DisplayColumnName="Player"></DataGridColumn> 
            <DataGridColumn Items="@_gameRequests" ColumnName="Expired" DisplayColumnName="Expired"></DataGridColumn> 
            <th>Actions</th>
        </Column>
        <GridRow >
            <td>@context.Date.ToString("dd/MM/yyyy")</td>
            <td>@context.PlayerUserName</td>
            <td><input type="checkbox" @bind="@context.Expired" disabled/></td>
            <td>
                <a href="/gamerequest/detail/@context.id" class="btn btn-primary">Detail</a>
                <a href="/gamerequest/edit/@context.id" class="btn btn-primary">Edit</a>
                <a href="/gamerequest/delete/@context.id" class="btn btn-danger">Delete</a>
            </td>
        </GridRow>
    </DataGrid>
    </div>
</div>
</div>
}

@code {
    GameRequest[] _gameRequests;
    
    protected override async Task OnInitializedAsync()
    {
        _gameRequests = await GameRequestDataAccessProvider.ListGameRequests();
    }

}