@page "/scenario/detail/{id:int}"
@attribute [Authorize(Roles = "User,Admin")]
@inherits DetailScenario

<h1>@L.GetLocalization("Scenarios") - @L.GetLocalization("Detail")</h1>
<div class="shadow-lg rounded form-box">
    <div class="row">
        <div class="col-md-12">
            <EditForm Model="Scenario">
                <DataAnnotationsValidator/>
                <ValidationSummary/>
                <div class="form-group form-inline">
                    <label for="Name">@L.GetLocalization("Name")</label>
                    <h1>
                        <InputText id="Name" @bind-Value="@Scenario.Name" disabled/>
                    </h1>
                </div>
                <div class="form-group form-inline">
                    <label for="Description">@L.GetLocalization("Description")</label>
                    <InputTextArea style="width: 100%;" id="Description" @bind-Value="@Scenario.Description" disabled/>
                </div>
            </EditForm>
        </div>
    </div>
</div>                                                                                    