@page "/army/add"
@attribute    [Authorize(Roles = "User,Admin")]
@inherits CreateArmy

<h1>@L.GetLocalization("Armies") - @L.GetLocalization("Add")</h1>
<div class="shadow-lg rounded form-box">
    <div class="row">
        <EditForm Model="Army" OnSubmit="@FormSubmit">
            <DataAnnotationsValidator/>
            <ValidationSummary/>
            <div class="form-group form-inline">
                <label for="Name">@L.GetLocalization("Name")</label>
                <InputText id="Name" @bind-Value="@Army.Name"/>
            </div>
            <button class="btn btn-primary" type="submit">@L.GetLocalization("Submit")</button>
            <input type="button" value="@L.GetLocalization("Cancel")" @onclick="@Cancel" class="btn btn-secondary"/>
        </EditForm>
    </div>
</div>