@page "/army"
@attribute    [Authorize(Roles = "User,Admin")]
@inherits ListArmy

<h1>@L.GetLocalization("Armies")</h1>

<div class="shadow-lg rounded form-box">
    <a href="/army/add" class="btn btn-primary">@L.GetLocalization("Add")</a>
    <DataGrid Items="@Armies" TItem="Data.Models.Army" FilterList="@FilterList" PageSize="5">
        <Column>
            <DataGridColumn TItem="Data.Models.Army" ColumnName="name" DisplayColumnName="@L.GetLocalization("Name")"></DataGridColumn>
            <th>@L.GetLocalization("Actions")</th>
        </Column>
        <GridRow>
            <td>@context.Name</td>
            <td>
                <a href="/army/edit/@context.Id" class="btn btn-primary">@L.GetLocalization("Edit")</a>
                <a href="/army/delete/@context.Id" class="btn btn-danger">@L.GetLocalization("Delete")</a>
            </td>
        </GridRow>

    </DataGrid>
</div>