@page "/objective/add"
@attribute [Authorize(Roles = "User,Admin")]
@inherits CreateObjective

<h1>@L.GetLocalization("Objectives") - @L.GetLocalization("Add")</h1>

<div class="shadow-lg rounded form-box">
    <div class="row">
        <div class="col-md-12">
            <EditForm Model="Objective" OnSubmit="@FormSubmit">
                <DataAnnotationsValidator/>
                <ValidationSummary/>
                <div class="form-group form-inline">
                    <label for="Title">@L.GetLocalization("Title")</label>
                    <h1>
                        <InputText id="Title" @bind-Value="@Objective.Title"/>
                    </h1>
                </div>
                <div class="form-group form-inline">
                    <label for="Date">@L.GetLocalization("Date")</label>
                    <InputDate id="Date" @bind-Value="@Objective.Date"/>
                    <label style="margin-left: 30px;" for="Done">@L.GetLocalization("Done")</label>
                    <InputCheckbox id="Done" @bind-Value="@Objective.Done"/>
                </div>
                <div class="form-group form-inline">
                    <label for="Description">@L.GetLocalization("Description")</label>
                    <InputTextArea style="width: 100%;" id="Description" @bind-Value="@Objective.Description"/>
                </div>
                <button class="btn btn-primary" type="submit">@L.GetLocalization("Submit")</button>
                <input type="button" value="@L.GetLocalization("Cancel")" @onclick="Cancel" class="btn btn-secondary"/>
            </EditForm>
        </div>
    </div>
</div>