@page "/game/add"
@page "/game/add/{player1}/{player2}/{date}"
@attribute [Authorize(Roles = "User,Admin")]
@inherits CreateGame

<h1>@L.GetLocalization("Games") - @L.GetLocalization("Add")</h1>
<div class="shadow-lg rounded form-box">
    <EditForm Model="Game" OnSubmit="@FormSubmit">
        <DataAnnotationsValidator/>
        <ValidationSummary/>
        <div class="col-md-12">
            <div class="form-group form-inline">
                <label for="Date">@L.GetLocalization("Date")</label>
                <InputDate id="Date" @bind-Value="@Game.Date"/>
                <label style="margin-left: 20px;" for="NoDetails">@L.GetLocalization("NoDetails")</label>
                <InputCheckbox id="NoDetails" @bind-Value="@Game.NoDetails" /> 
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group form-inline">
                    <label for="GameTable">@L.GetLocalization("Game_Table")</label>
                    <InputSelect id="GameTable" @bind-Value="GameTable">
                        <option value=""></option>
                        @foreach (var gameTable in GameTables)
                        {
                            <option value=@gameTable.Id>@gameTable.Name</option>
                        }
                    </InputSelect>               
                    <label style="margin-left: 30px;" for="Scenario">@L.GetLocalization("GameScenario")</label>
                    <InputSelect id="Scenario" @bind-Value="Scenario">
                        <option value=""></option>
                        @foreach (var scenario in Scenarios)
                        {
                            <option value=@scenario.Id>@scenario.Name</option>
                        }
                    </InputSelect>    
                    <label style="margin-left: 30px;" for="Location">@L.GetLocalization("Location")</label>
                    <InputText id="Location" class="form-control" @bind-Value="@Game.Location"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h2>@L.GetLocalization("Player1")</h2>
                <div class="form-group form-inline">
                    <label for="User1">@L.GetLocalization("Player1")</label>
                    <InputSelect id="User1" @bind-Value="User1Id" required>
                        <option value=""></option>
                        @foreach (var user in Users)
                        {
                        <option value=@user.Id>@user.UserName</option>
                        }
                    </InputSelect>
                </div>
                <div class="form-group form-inline">
                    <label for="ArmyPlayer1">@L.GetLocalization("Army")</label>
                    <InputSelect for="ArmyPlayer1" id="ArmyPlayer1" @bind-Value="ArmyPlayer1" required>
                        <option></option>
                        @foreach (var army in Armies)
                        {
                        <option value=@army.Id.ToString()>@army.Name</option>
                        }
                    </InputSelect>
                </div>
                <div class="form-group form-inline">
                    <label for="CpPlayer1">@L.GetLocalization("CP")</label>
                    <InputNumber id="CpPlayer1" class="form-control" @bind-Value="@Game.CpPlayer1"/>
                </div>
            </div>
            <div class="col-md-6">
                <h2>@L.GetLocalization("Player2")</h2>
                <div class="form-group form-inline">
                    <label for="User2">@L.GetLocalization("Player2")</label>
                    <InputSelect id="User2" @bind-Value="User2Id" required>
                        <option value=""></option>
                        @foreach (var user in Users)
                        {
                        <option value=@user.Id>@user.UserName</option>
                        }
                    </InputSelect>
                </div>
                <div class="form-group form-inline">
                    <label for="ArmyPlayer2">@L.GetLocalization("Army")</label>
                    <InputSelect for="ArmyPlayer2" id="ArmyPlayer2" @bind-Value="ArmyPlayer2" required>
                        <option value=""></option>
                        @foreach (var army in Armies)
                        {
                        <option value=@army.Id.ToString()>@army.Name</option>
                        }
                    </InputSelect>
                </div>
                <div class="form-group form-inline">
                    <label for="CpPlayer2">@L.GetLocalization("CP")</label>
                    <InputNumber id="CpPlayer2" class="form-control" @bind-Value="@Game.CpPlayer2"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                @if (Game.NoDetails)
                {
                    <div class="form-group form-inline">
                        <label for="ScorePlayer1WoDetails">@L.GetLocalization("Player1Score")</label>
                        <InputNumber id="ScorePlayer1WoDetails" @bind-Value="@Game.ScorePlayer1WoDetails" />        
                    </div>
                    <div class="form-group form-inline">
                        <label for="ScorePlayer1WoDetails">@L.GetLocalization("Player2Score")</label>
                        <InputNumber id="ScorePlayer1WoDetails" @bind-Value="@Game.ScorePlayer2WoDetails" />        
                    </div>
                }            
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="btn-group" style="margin-bottom: 10px;" role="group">
                    <button type="button" class="btn btn-dark" @onclick="ChangeNoteView">@L.GetLocalization("Note")</button>
                    <button type="button" class="btn btn-dark" @onclick="ChangeList1View">@L.GetLocalization("Player1") - @L.GetLocalization("List")</button>
                    <button type="button" class="btn btn-dark" @onclick="ChangeList2View">@L.GetLocalization("Player2") - @L.GetLocalization("List")</button>
                </div>
                @if (ShowNote)
                {
                <div class="form-group">
                    <InputTextArea id="Note" @bind-Value="@Game.Note" class="form-control"></InputTextArea>
                </div>
                }
                @if (ShowList1)
                {
                <div class="form-group">
                    <InputTextArea id="List1" @bind-Value="@Game.ListPlayer1" class="form-control"></InputTextArea>
                </div>
                }
                @if (ShowList2)
                {
                <div class="form-group">
                    <InputTextArea id="List2" @bind-Value="@Game.ListPlayer2" class="form-control"></InputTextArea>
                </div>
                }
            </div>
        </div>
        <button class="btn btn-primary" type="submit">@L.GetLocalization("Submit")</button>
        <input type="button" value="@L.GetLocalization("Cancel")" @onclick="Cancel" class="btn btn-secondary"/>
    </EditForm>
</div>