@page "/game/delete/{id:int}"
@using Microsoft.AspNetCore.Components
@using Microsoft.Extensions.Localization
@using WarhammerTracking.Data.Game
@attribute [Authorize(Roles = "User,Admin")]
@inject GameDataAccessProvider GameDataAccessProvider
@inject NavigationManager NavigationManager
@inject IStringLocalizer<Delete> L

<h1>@L["Games"] - @L["Delete"]</h1>
<div class="alert alert-danger" role="alert">
@L["DeleteMessage"] @L["Game"] ?
</div>
<div class="shadow-lg rounded form-box">
<EditForm Model="game" OnSubmit=@FormSubmit>
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="col-md-12">
            <div class="form-group form-inline">
                <label for="Date">@L["Date"]</label>
                <input for="Date" class="form-control" @bind="@game.Date" disabled/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group form-inline">
                    <label for="TableNumber">@L["TableNumber"]</label>
                    <InputText id="TableNumber" class="form-control" @bind-Value="game.TableNumber" disabled/>
                    <label style="margin-left: 30px;" for="ScenarioNumber">@L["ScenarioNumber"]</label>
                    <InputText id="ScenarioNumber" class="form-control" @bind-Value="game.ScenarioNumber" disabled/>
                    <label style="margin-left: 30px;" for="Location">@L["Location"]</label>
                    <InputText id="Location" class="form-control" @bind-Value="game.Location" disabled/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
            <h2>@L["Player1"]</h2>
                <div class="form-group form-inline">
                        <label for="User1">@L["Player1"]</label>
                        <input type="text" for="User1" id="User1" value="@game.Player1.UserName" disabled/>
            </div>
                <div class="form-group form-inline">
                        <label for="ArmyPlayer1Name">@L["Army"]</label>
                        <input type="text" for="FactionPlayer1" id="ArmyPlayer1Name" value="@game.ArmyPlayer1Name" disabled/>
            </div>
                <div class="form-group form-inline">
                <label for="CpPlayer1">@L["CP"]</label>
                <InputNumber for="CpPlayer1" class="form-control" @bind-Value="game.CpPlayer1" disabled/>
            </div>
                <div class="form-group">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>@L["Maelstrom"]</th>
                            <th>@L["Eternal"]</th>
                            <th>@L["KP"]</th>
                            <th>@L["Others"]</th>
                            <th>@L["Total"]</th>
                            <th>@L["CpUsed"]</th>
                        </tr>
                        </thead>
                        <tbody>
                        @if (game.GameLines != null)
                        {
                            @foreach (var line1 in game.GameLines)
                            {
                                if (line1.Player.Id == game.Player1.Id)
                                {
                                    <tr>
                                        <td><InputNumber class="form-control" @bind-Value="@line1.Maelstrom" disabled/></td>
                                        <td><InputNumber class="form-control" @bind-Value="@line1.Eternal" disabled/></td>
                                        <td><InputNumber class="form-control" @bind-Value="@line1.KP" disabled/></td>
                                        <td><InputNumber class="form-control" @bind-Value="@line1.Others" disabled/></td>
                                        <td>@line1.Total</td>
                                        <td><InputNumber class="form-control" @bind-Value="@line1.CpUsed" disabled/></td>
                                    </tr>
                                }
                            }
                        }
                            <tr>
                                <td class="text-center font-weight-bold">@game.TotalMaelstromPlayer1</td>
                                <td class="text-center font-weight-bold">@game.TotalEternalPlayer1</td>
                                <td class="text-center font-weight-bold">@game.TotalKPPlayer1</td>
                                <td class="text-center font-weight-bold">@game.TotalOthersPlayer1</td>
                                <td class="text-center font-weight-bold">@game.TotalPlayer1</td>
                                <td class="text-center font-weight-bold">@game.CpLeftPlayer1</td>
                            </tr>
                        </tbody>
                    </table>
            </div>
            </div>
            <div class="col-md-6">
            <h2>@L["Player2"]</h2>
            <div class="form-group form-inline">
                        <label for="User2">@L["Player2"]</label>
                        <input type="text" for="User2" id="User2" value="@game.Player2.UserName" disabled/>
            </div>
            <div class="form-group form-inline">
                        <label for="ArmyPlayer1Name">@L["Army"]</label>
                        <input type="text" for="ArmyPlayer1Name" id="ArmyPlayer1Name" value="@game.ArmyPlayer2Name" disabled/>                        
            </div>
            <div class="form-group form-inline">
                <label for="CpPlayer2">@L["CP"]</label>
                <InputNumber for="CpPlayer2" class="form-control" @bind-Value="game.CpPlayer2" disabled/>
            </div>
            <div class="form-group">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>@L["Maelstrom"]</th>
                                        <th>@L["Eternal"]</th>
                                        <th>@L["KP"]</th>
                                        <th>@L["Others"]</th>
                                        <th>@L["Total"]</th>
                                        <th>@L["CpUsed"]</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    @if (game.GameLines != null)
                                    {
                                        @foreach (var line2 in game.GameLines)
                                        {
                                            if (line2.Player.Id == game.Player2.Id)
                                            {
                                                <tr>
                                                    <td><InputNumber class="form-control" @bind-Value="@line2.Maelstrom" disabled/></td>
                                                    <td><InputNumber class="form-control" @bind-Value="@line2.Eternal" disabled/></td>
                                                    <td><InputNumber class="form-control" @bind-Value="@line2.KP" disabled/></td>
                                                    <td><InputNumber class="form-control" @bind-Value="@line2.Others" disabled/></td>
                                                    <td>@line2.Total</td>
                                                    <td><InputNumber class="form-control" @bind-Value="@line2.CpUsed" disabled/></td>
                                                </tr>
                                            }
                                        }
                                    }
                                        <tr>
                                            <td class="text-center font-weight-bold">@game.TotalMaelstromPlayer2</td>
                                            <td class="text-center font-weight-bold">@game.TotalEternalPlayer2</td>
                                            <td class="text-center font-weight-bold">@game.TotalKPPlayer2</td>
                                            <td class="text-center font-weight-bold">@game.TotalOthersPlayer2</td>
                                            <td class="text-center font-weight-bold">@game.TotalPlayer2</td>
                                            <td class="text-center font-weight-bold">@game.CpLeftPlayer2</td>
                                        </tr>
                                    </tbody>
                                </table>
                        </div>
        </div>        
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="btn-group" style="margin-bottom: 10px;" role="group">
                    <button type="button" class="btn btn-dark" @onclick="ChangeNoteView">@L["Note"]</button>
                    <button type="button" class="btn btn-dark" @onclick="ChangeList1View">@L["Player1"] - @L["List"]</button>
                    <button type="button" class="btn btn-dark" @onclick="ChangeList2View">@L["Player2"] - @L["List"]</button>
                </div>
                @if (showNote)
                {
                    <div class="form-group">
                        <InputTextArea id="Note" @bind-Value="game.Note" class="form-control" disabled></InputTextArea>
                    </div>
                }
                @if (showList1)
                {
                    <div class="form-group">
                        <InputTextArea id="List1" @bind-Value="game.ListPlayer1" class="form-control" disabled></InputTextArea>
                    </div>
                }
                @if (showList2)
                {
                    <div class="form-group">
                        <InputTextArea id="List2" @bind-Value="game.ListPlayer2" class="form-control" disabled></InputTextArea>
                    </div>
                }
            </div>
        </div>
        <button class="btn btn-primary" type="submit">@L["Submit"]</button>
        <input type="button" value="@L["Cancel"]" @onclick="Cancel" class="btn btn-secondary"/>
    </EditForm>
</div>
@code {
    [Parameter]
    public int id { get; set; }

    Game game;
    bool showNote = true;
    bool showList1 = false;
    bool showList2 = false;
    
    protected override async Task OnInitializedAsync()
    {
        game = await GameDataAccessProvider.GetGame(id);
    }

    private void Cancel()
    {
        NavigationManager.NavigateTo("game");
    }
    
    private async void FormSubmit(EditContext editContext)
    {
        if (editContext.Validate())
        {
            await GameDataAccessProvider.DeleteGame(id);
            NavigationManager.NavigateTo("game");
        }
        else
        {
            Console.WriteLine("Fail");
        }
    }
    
    void ChangeNoteView()
    {
        showNote = true;
        showList1 = false;
        showList2 = false;
    }

    void ChangeList1View()
    {
        showNote = false;
        showList1 = true;
        showList2 = false;
    }
    
    void ChangeList2View()
    {
        showNote = false;
        showList1 = false;
        showList2 = true;
    }

}