@page "/game/delete/{id:int}"
@using System.Runtime.InteropServices.ComTypes
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Http.Extensions
@using Microsoft.AspNetCore.Mvc.Routing
@using WarhammerTracking.Data.Army
@using WarhammerTracking.Data.Game
@attribute [Authorize(Roles = "User,Admin")]
@inject GameDataAccessProvider GameDataAccessProvider
@inject NavigationManager NavigationManager

<h1>Game - Delete</h1>
<div class="alert alert-danger" role="alert">
Are you sure you want to delete this game ?
</div>
<div class="shadow-lg rounded form-box">
        <div class="row">
                <div class="col-md-12">
                    <div class="form-group form-inline">
                        <label for="Date">Date</label>
                        <span>@game.Date.ToString("dd/MM/yyyy")</span>
                        <label style="margin-left: 30px;">Score</label>
                        <span>@game.Score</span>
                    </div>
                </div>
        </div>
        <div class="row">
                <div class="col-md-6">
                    <h2>Player 1</h2>
                    <div class="form-group form-inline">
                                <label for="user1">Player 1</label>
                                <span>@game.Player1.UserName</span>
                    </div>
                    <div class="form-group form-inline">
                                <label for="FactionPlayer1">Faction</label>
                                <span>@game.FactionPlayer1.name</span>
                    </div>
                    <div class="form-group form-inline">
                        <label for="CpPlayer1">CP</label>
                        <span>@game.CpPlayer1</span>
                    </div>
                    <div class="form-group">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Maelstrom</th>
                                    <th>Eternal</th>
                                    <th>KP</th>
                                    <th>Others</th>
                                    <th>Total</th>
                                    <th>CP Used</th>
                                </tr>
                                </thead>
                                <tbody>
                                @if (game.GameLines != null)
                                {
                                    @foreach (var line1 in game.GameLines)
                                    {
                                        if (line1.Player.Id == game.Player1Id)
                                        {
                                            <tr>
                                                <td class="text-center">@line1.Maelstrom</td>
                                                <td class="text-center">@line1.Eternal</td>
                                                <td class="text-center">@line1.KP</td>
                                                <td class="text-center">@line1.Others</td>
                                                <td class="text-center">@line1.Total</td>
                                                <td class="text-center">@line1.CpUsed</td>
                                            </tr>
                                        }
                                    }
                                }
                                    <tr>
                                        <td class="text-center font-weight-bold">@game.TotalMaelstromPlayer1</td>
                                        <td class="text-center font-weight-bold">@game.TotalEternalPlayer1</td>
                                        <td class="text-center font-weight-bold">@game.TotalKPPlayer1</td>
                                        <td class="text-center font-weight-bold">@game.TotalOthersPlayer1</td>
                                        <td class="text-center font-weight-bold">@game.TotalPlayer1</td>
                                        <td class="text-center font-weight-bold">@game.CpLeftPlayer1</td>
                                    </tr>
                                </tbody>
                            </table>
                    </div>
                </div>
                <div class="col-md-6">
                    <h2>Player 2</h2>
                    <div class="form-group form-inline">
                                <label for="User2">Player 2</label>
                                <span>@game.Player2.UserName</span>
                    </div>
                    <div class="form-group form-inline">
                                <label for="FactionPlayer2">Faction</label>
                                <span>@game.FactionPlayer2.name</span>
                    </div>
                    <div class="form-group form-inline">
                        <label for="CpPlayer2">CP</label>
                        <span>@game.CpPlayer2</span>
                    </div>
                     <div class="form-group">
                             <table class="table">
                                 <thead>
                                 <tr>
                                     <th>Maelstrom</th>
                                     <th>Eternal</th>
                                     <th>KP</th>
                                     <th>Others</th>
                                     <th>Total</th>
                                     <th>CP Used</th>
                                 </tr>
                                 </thead>
                                 <tbody>
                                 @if (game.GameLines != null)
                                 {
                                     @foreach (var line2 in game.GameLines)
                                     {
                                         if (line2.Player.Id == game.Player2Id)
                                         {
                                             <tr>
                                                 <td class="text-center">@line2.Maelstrom</td>
                                                 <td class="text-center">@line2.Eternal</td>
                                                 <td class="text-center">@line2.KP</td>
                                                 <td class="text-center">@line2.Others</td>
                                                 <td class="text-center">@line2.Total</td>
                                                 <td class="text-center">@line2.CpUsed</td>
                                             </tr>
                                         }
                                     }
                                 }
                                    <tr>
                                        <td class="text-center font-weight-bold">@game.TotalMaelstromPlayer2</td>
                                        <td class="text-center font-weight-bold">@game.TotalEternalPlayer2</td>
                                        <td class="text-center font-weight-bold">@game.TotalKPPlayer2</td>
                                        <td class="text-center font-weight-bold">@game.TotalOthersPlayer2</td>
                                        <td class="text-center font-weight-bold">@game.TotalPlayer2</td>
                                        <td class="text-center font-weight-bold">@game.CpLeftPlayer2</td>
                                    </tr>
                                 </tbody>
                             </table>
                     </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="Note">Note</label>
                        <span>@game.Note</span>
                    </div>
                </div>
        </div>
        <div class="form-group">
            <input type="button" value="Delete" @onclick="DeleteFaction" class="btn btn-primary"/>
            <input type="button" value="Cancel" @onclick="Cancel" class="btn btn-secondary"/>
        </div>
</div>
@code {
    [Parameter]
    public int id { get; set; }

    Game game;

    protected override async Task OnInitializedAsync()
    {
        game = await GameDataAccessProvider.GetGame(id);
    }
    
    private async void DeleteFaction()
    {
        await GameDataAccessProvider.DeleteGame(id);
        NavigationManager.NavigateTo("game");
    }

    private void Cancel()
    {
        NavigationManager.NavigateTo("game");
    }

}