@page "/game/detail/{id:int}"
@using System.Collections.ObjectModel
@using System.Runtime.InteropServices.ComTypes
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Http.Extensions
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.Routing
@using WarhammerTracking.Data
@using WarhammerTracking.Data.Army
@using WarhammerTracking.Data.Game
@attribute [Authorize(Roles = "User,Admin")]
@inject GameDataAccessProvider GameDataAccessProvider
@inject UserDataAccessProvider UserDataAccessProvider
@inject ArmyDataAccessProvider ArmyDataAccessProvider
@inject NavigationManager NavigationManager

<h1>Games - Detail</h1>
<div class="shadow-lg rounded form-box">
<EditForm Model="game">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="col-md-12">
            <div class="form-group form-inline">
                <label for="Date">Date</label>
                <span>@game.Date.ToString("dd/MM/yyyy")</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group form-inline">
                    <label for="TableNumber">Table Number</label>
                    <InputText id="TableNumber" class="form-control" @bind-Value="game.TableNumber" disabled/>
                    <label style="margin-left: 30px;" for="ScenarioNumber">Scenario Number</label>
                    <InputText id="ScenarioNumber" class="form-control" @bind-Value="game.ScenarioNumber" disabled/>
                    <label style="margin-left: 30px;" for="Location">Location</label>
                    <InputText id="Location" class="form-control" @bind-Value="game.Location" disabled/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
            <h2>Player 1</h2>
                <div class="form-group form-inline">
                        <label for="Player1Name">Player 1</label>
                        <input type="text" for="Player1Name" id="Player1Name" value="@game.Player1Name" disabled/>
            </div>
                <div class="form-group form-inline">
                        <label for="ArmyPlayer1Name">Faction</label>
                        <input type="text" for="ArmyPlayer1Name" id="ArmyPlayer1Name" value="@game.ArmyPlayer1Name" disabled/>
            </div>
                <div class="form-group form-inline">
                <label for="CpPlayer1">CP</label>
                <InputNumber for="CpPlayer1" class="form-control" @bind-Value="game.CpPlayer1" disabled/>
            </div>
                <div class="form-group">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Maelstrom</th>
                            <th>Eternal</th>
                            <th>KP</th>
                            <th>Others</th>
                            <th>Total</th>
                            <th>CP Used</th>
                        </tr>
                        </thead>
                        <tbody>
                        @if (game.GameLines != null)
                        {
                            @foreach (var line1 in game.GameLines)
                            {
                                if (line1.Player.Id == game.Player1.Id)
                                {
                                    <tr>
                                        <td><InputNumber class="form-control" @bind-Value="@line1.Maelstrom" disabled/></td>
                                        <td><InputNumber class="form-control" @bind-Value="@line1.Eternal" disabled/></td>
                                        <td><InputNumber class="form-control" @bind-Value="@line1.KP" disabled/></td>
                                        <td><InputNumber class="form-control" @bind-Value="@line1.Others" disabled/></td>
                                        <td>@line1.Total</td>
                                        <td><InputNumber class="form-control" @bind-Value="@line1.CpUsed" disabled/></td>
                                    </tr>
                                }
                            }
                        }
                            <tr>
                                <td class="text-center font-weight-bold">@game.TotalMaelstromPlayer1</td>
                                <td class="text-center font-weight-bold">@game.TotalEternalPlayer1</td>
                                <td class="text-center font-weight-bold">@game.TotalKPPlayer1</td>
                                <td class="text-center font-weight-bold">@game.TotalOthersPlayer1</td>
                                <td class="text-center font-weight-bold">@game.TotalPlayer1</td>
                                <td class="text-center font-weight-bold">@game.CpLeftPlayer1</td>
                            </tr>
                        </tbody>
                    </table>
            </div>
            </div>
            <div class="col-md-6">
            <h2>Player 2</h2>
            <div class="form-group form-inline">
                        <label for="Player2Name">Player 2</label>
                        <input type="text" for="Player2Name" id="Player2Name" value="@game.Player2Name" disabled/>
            </div>
            <div class="form-group form-inline">
                        <label for="ArmyPlayer2Name">Faction</label>
                        <input type="text" for="ArmyPlayer2Name" id="ArmyPlayer2Name" value="@game.ArmyPlayer2Name" disabled/>                        
            </div>
            <div class="form-group form-inline">
                <label for="CpPlayer2">CP</label>
                <InputNumber for="CpPlayer2" class="form-control" @bind-Value="game.CpPlayer2" disabled/>
            </div>
            <div class="form-group">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>Maelstrom</th>
                                        <th>Eternal</th>
                                        <th>KP</th>
                                        <th>Others</th>
                                        <th>Total</th>
                                        <th>CP Used</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    @if (game.GameLines != null)
                                    {
                                        @foreach (var line2 in game.GameLines)
                                        {
                                            if (line2.Player.Id == game.Player2.Id)
                                            {
                                                <tr>
                                                    <td><InputNumber class="form-control" @bind-Value="@line2.Maelstrom" disabled/></td>
                                                    <td><InputNumber class="form-control" @bind-Value="@line2.Eternal" disabled/></td>
                                                    <td><InputNumber class="form-control" @bind-Value="@line2.KP" disabled/></td>
                                                    <td><InputNumber class="form-control" @bind-Value="@line2.Others" disabled/></td>
                                                    <td>@line2.Total</td>
                                                    <td><InputNumber class="form-control" @bind-Value="@line2.CpUsed" disabled/></td>
                                                </tr>
                                            }
                                        }
                                    }
                                        <tr>
                                            <td class="text-center font-weight-bold">@game.TotalMaelstromPlayer2</td>
                                            <td class="text-center font-weight-bold">@game.TotalEternalPlayer2</td>
                                            <td class="text-center font-weight-bold">@game.TotalKPPlayer2</td>
                                            <td class="text-center font-weight-bold">@game.TotalOthersPlayer2</td>
                                            <td class="text-center font-weight-bold">@game.TotalPlayer2</td>
                                            <td class="text-center font-weight-bold">@game.CpLeftPlayer2</td>
                                        </tr>
                                    </tbody>
                                </table>
                        </div>
        </div>        
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="btn-group" style="margin-bottom: 10px;" role="group">
                    <button type="button" class="btn btn-dark" @onclick="ChangeNoteView">Note</button>
                    <button type="button" class="btn btn-dark" @onclick="ChangeList1View">Player 1 - List</button>
                    <button type="button" class="btn btn-dark" @onclick="ChangeList2View">Player 2 - List</button>
                </div>
                @if (showNote)
                {
                    <div class="form-group">
                        <InputTextArea id="Note" @bind-Value="game.Note" class="form-control" disabled></InputTextArea>
                    </div>
                }
                @if (showList1)
                {
                    <div class="form-group">
                        <InputTextArea id="List1" @bind-Value="game.ListPlayer1" class="form-control" disabled></InputTextArea>
                    </div>
                }
                @if (showList2)
                {
                    <div class="form-group">
                        <InputTextArea id="List2" @bind-Value="game.ListPlayer2" class="form-control" disabled></InputTextArea>
                    </div>
                }
            </div>
        </div>
    </EditForm>
</div>

@code {
    [Parameter]
    public int id { get; set; }

    Game game;
    bool showNote = true;
    bool showList1 = false;
    bool showList2 = false;
    
    protected override async Task OnInitializedAsync()
    {
        game = await GameDataAccessProvider.GetGame(id);
    }

    void ChangeNoteView()
    {
        showNote = true;
        showList1 = false;
        showList2 = false;
    }

    void ChangeList1View()
    {
        showNote = false;
        showList1 = true;
        showList2 = false;
    }
    
    void ChangeList2View()
    {
        showNote = false;
        showList1 = false;
        showList2 = true;
    }
}