@page "/game"
@using System.Linq.Expressions
@using Microsoft.Extensions.Localization
@using WarhammerTracking.Data
@using WarhammerTracking.Data.Game
@attribute [Authorize(Roles = "User,Admin")]
@inject GameDataAccessProvider GameDataAccessProvider
@inject UserDataAccessProvider UserDataAccessProvider
@inject IStringLocalizer<List> L

<h1>@L["Games"]</h1>
    <div class="shadow-lg rounded form-box">
    <div class="row">
<div class="col-md-12">
    <div class="row" style="margin-bottom: 10px;">
        <a href="/game/add" class="btn btn-primary">@L["Add"]</a>
    </div>
    <div class="row">
        <DataGrid Items="games" PageSize="5">
        <Filters>
            <DataGridFilter Name="@L["Reset"]" Expression="@ResetFilter"></DataGridFilter>
            <DataGridFilter Name="@L["MyFilter"]" Expression="@MyFilter"></DataGridFilter>
        </Filters>
            <Column>
                <DataGridColumn Items="@games" ColumnName="Date" DisplayColumnName="@L["Date"]" Size="10"></DataGridColumn> 
                <DataGridColumn Items="@games" ColumnName="Player1Name" DisplayColumnName="@L["Player1"]" Size="10"></DataGridColumn> 
                <DataGridColumn Items="@games" ColumnName="ArmyPlayer1Name" DisplayColumnName="@L["Player1Army"]" Size="10"></DataGridColumn> 
                <DataGridColumn Items="@games" ColumnName="Player2Name" DisplayColumnName="@L["Player2"]" Size="10"></DataGridColumn> 
                <DataGridColumn Items="@games" ColumnName="ArmyPlayer2Name" DisplayColumnName="@L["Player1Army"]" Size="10"></DataGridColumn> 
                <DataGridColumn Items="@games" ColumnName="Player 1 / Score" DisplayColumnName="@L["Player1Score"]" Size="5"></DataGridColumn> 
                <DataGridColumn Items="@games" ColumnName="Player 2 / Score" DisplayColumnName="@L["Player2Score"]" Size="5"></DataGridColumn> 
                <th>Actions</th>
            </Column>
            <GridRow >
                <td>@context.Date</td>
                <td>@context.Player1Name</td>
                <td>@context.ArmyPlayer1Name</td>
                <td>@context.Player2Name</td>
                <td>@context.ArmyPlayer2Name</td>
                <td>@context.ScorePlayer1</td>
                <td>@context.ScorePlayer2</td>
                <td>
                    <a href="/game/detail/@context.id" class="btn btn-primary">@L["Detail"]</a>
                    <a href="/game/edit/@context.id" class="btn btn-primary">@L["Edit"]</a>
                    <a href="/game/delete/@context.id" class="btn btn-danger">@L["Delete"]</a>
                </td>
            </GridRow>
    
        </DataGrid>
    </div>
</div>
</div>
</div>

@code {
    Game[] games;
    ApplicationUser user;

    private Expression<Func<Game,bool>> MyFilter
    {
        get
        {
            var param = Expression.Parameter(typeof(Game), "gr");
            return Expression.Lambda<Func<Game,bool>>(Expression.Or(Expression.Equal(
                Expression.Property(param, "Player1"),
                Expression.Constant(user)),Expression.Equal(
                    Expression.Property(param, "Player2"),
                    Expression.Constant(user)))
                ,param);
            
        }
    }

    private Expression<Func<Game,bool>> ResetFilter
    {
        get
        {
            var param = Expression.Parameter(typeof(Game), "gr");
            return Expression.Lambda<Func<Game,bool>>(Expression.Constant(true), param);
        }
        
    }
    
    protected override async Task OnInitializedAsync()
    {
        user = await UserDataAccessProvider.GetCurrentUser();
        games = await GameDataAccessProvider.ListGame();
    }

}