@page "/game"
@using WarhammerTracking.Data
@using WarhammerTracking.Data.Game
@attribute [Authorize(Roles = "User,Admin")]
@inject GameDataAccessProvider GameDataAccessProvider
@inject UserDataAccessProvider UserDataAccessProvider

<h1>Games</h1>
    <div class="btn-group" style="margin-bottom: 10px;" role="group">
      <button type="button" class="btn btn-dark" @onclick="ChangeAllView">All games</button>
      <button type="button" class="btn btn-dark" @onclick="ChangeMyView">My games</button>
    </div>
@if (games == null)
{
    <p><em>No records...</em></p>
}
else
{
    <div class="shadow-lg rounded form-box">
    <div class="row">
<div class="col-md-12">
    <a href="/game/add" class="btn btn-primary">Add</a>
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Date</th>
            <th>Player 1</th>
            <th>Player 1 / Faction</th>
            <th>Player 2</th>
            <th>Player 2 / Faction</th>
            <th>Score</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var game in games)
        {
            <tr>
                <td>@game.id</td>
                <td>@game.Date.ToString("dd/MM/yyyy")</td>
                <td>@game.Player1.UserName</td>
                <td>@game.FactionPlayer1.name</td>
                <td>@game.Player2.UserName</td>
                <td>@game.FactionPlayer2.name</td>
                <td>@game.Score</td>
                <td>
                    <a href="/game/detail/@game.id" class="btn btn-primary">Detail</a>
                    <a href="/game/edit/@game.id" class="btn btn-primary">Edit</a>
                    <a href="/game/delete/@game.id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
    </div>
</div>
</div>
}

@code {
    Game[] games;
    ApplicationUser user;
    
    protected override async Task OnInitializedAsync()
    {
        user = await UserDataAccessProvider.GetCurrentUser();
        games = await GameDataAccessProvider.ListGame();
    }

    async Task ChangeAllView()
    {
        games = await GameDataAccessProvider.ListGame();
    }

    async Task ChangeMyView()
    {
        games = await GameDataAccessProvider.ListMyGame(user);
    }
}