@page "/game"
@using WarhammerTracking.Data
@using WarhammerTracking.Data.Game
@attribute [Authorize(Roles = "User,Admin")]
@inject GameDataAccessProvider GameDataAccessProvider
@inject UserDataAccessProvider UserDataAccessProvider

<h1>Games</h1>
    <div class="btn-group" style="margin-bottom: 10px;" role="group">
      <button type="button" class="btn btn-dark" @onclick="ChangeAllView">All games</button>
      <button type="button" class="btn btn-dark" @onclick="ChangeMyView">My games</button>
    </div>
    <div class="shadow-lg rounded form-box">
    <div class="row">
<div class="col-md-12">
    <a href="/game/add" class="btn btn-primary">Add</a>
        <DataGrid Items="games" PageSize="5">
            <Column>
                <DataGridColumn Items="@games" ColumnName="Date" DisplayColumnName="Date"></DataGridColumn> 
                <DataGridColumn Items="@games" ColumnName="Player1Name" DisplayColumnName="Player 1"></DataGridColumn> 
                <DataGridColumn Items="@games" ColumnName="Player1ArmyName" DisplayColumnName="Player 1 / Army"></DataGridColumn> 
                <DataGridColumn Items="@games" ColumnName="Player2Name" DisplayColumnName="Player 2"></DataGridColumn> 
                <DataGridColumn Items="@games" ColumnName="Player2ArmyName" DisplayColumnName="Player 2 / Army"></DataGridColumn> 
                <DataGridColumn Items="@games" ColumnName="Score" DisplayColumnName="Score"></DataGridColumn> 
                <th>Actions</th>
            </Column>
            <GridRow >
                <td>@context.Date</td>
                <td>@context.ArmyName</td>
                <td>@context.Player1Name</td>
                <td>@context.Player1ArmyName</td>
                <td>@context.Player2Name</td>
                <td>@context.Player2ArmyName</td>
                <td>@context.Score</td>
                <td>
                    <a href="/game/detail/@context.id" class="btn btn-primary">Detail</a>
                    <a href="/game/edit/@context.id" class="btn btn-primary">Edit</a>
                    <a href="/game/delete/@context.id" class="btn btn-danger">Delete</a>
                </td>
            </GridRow>
    
        </DataGrid>
    </div>
</div>
</div>

@code {
    Game[] games;
    ApplicationUser user;
    
    protected override async Task OnInitializedAsync()
    {
        user = await UserDataAccessProvider.GetCurrentUser();
        games = await GameDataAccessProvider.ListGame();
    }

    async Task ChangeAllView()
    {
        games = await GameDataAccessProvider.ListGame();
    }

    async Task ChangeMyView()
    {
        games = await GameDataAccessProvider.ListMyGame(user);
    }
}