@page "/game/edit/{id:int}"
@attribute [Authorize(Roles = "User,Admin")]
@inherits UpdateGame

<h1>@L.GetLocalization("Games") - @L.GetLocalization("Update")</h1>
<div class="shadow-lg rounded form-box">
    <div class="row col-md-12" style="margin-bottom: 20px;">
        <button @onclick="@(() => ShowDiceModal())" class="btn btn-primary">Roll The Dice</button>
    </div>

    <EditForm Model="Game" OnSubmit="@FormSubmit">
        <DataAnnotationsValidator/>
        <ValidationSummary/>
        <div class="col-md-12">
            <div class="form-group form-inline">
                <label for="Date">@L.GetLocalization("Date")</label>
                <InputDate id="Date" @bind-Value="@Game.Date"/>
                <label style="margin-left: 20px;" for="Player1Score">@L.GetLocalization("Player1Score")</label>
                <span id="Player1Score">@Game.ScorePlayer1</span>
                <label style="margin-left: 20px;" for="Player2Score">@L.GetLocalization("Player2Score")</label>
                <span id="Player2Score">@Game.ScorePlayer2</span>
                <label style="margin-left: 20px;" for="NoDetails">@L.GetLocalization("NoDetails")</label>
                <InputCheckbox id="NoDetails" @bind-Value="@Game.NoDetails" />        
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group form-inline">
                    <label for="GameTable">@L.GetLocalization("Game_Table")</label>
                    <InputSelect id="GameTable" @bind-Value="GameTable">
                        <option value=""></option>
                        @foreach (var gameTable in GameTables)
                        {
                            <option value=@gameTable.Id>@gameTable.Name</option>
                        }
                    </InputSelect>               
                    <label style="margin-left: 30px;" for="Scenario">@L.GetLocalization("GameScenario")</label>
                    <InputSelect id="Scenario" @bind-Value="Scenario">
                        <option value=""></option>
                        @foreach (var scenario in Scenarios)
                        {
                            <option value=@scenario.Id>@scenario.Name</option>
                        }
                    </InputSelect> 
                    <label style="margin-left: 30px;" for="Location">@L.GetLocalization("Location")</label>
                    <InputText id="Location" class="form-control" @bind-Value="@Game.Location"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h2>@L.GetLocalization("Player1")</h2>
                <div class="form-group form-inline">
                    <label for="User1">@L.GetLocalization("Player1")</label>
                    <InputSelect id="User1" @bind-Value="User1Id">
                        <option value=""></option>
                        @foreach (var user in Users)
                        {
                        <option value=@user.Id>@user.UserName</option>
                        }
                    </InputSelect>
                </div>
                <div class="form-group form-inline">
                    <label for="ArmyPlayer1Id">@L.GetLocalization("Army")</label>
                    <InputSelect for="ArmyPlayer1Id" id="ArmyPlayer1Id" @bind-Value="@ArmyPlayer1Id">
                        <option></option>
                        @foreach (var army in Armies)
                        {
                        <option value=@army.Id.ToString()>@army.Name</option>
                        }
                    </InputSelect>
                </div>
                <div class="form-group form-inline">
                    <label for="CpPlayer1">@L.GetLocalization("CP")</label>
                    <InputNumber id="CpPlayer1" class="form-control" @bind-Value="@Game.CpPlayer1"/>
                </div>
                @if (Game.NoDetails)
                {
                    <div class="form-group form-inline">
                        <label for="ScorePlayer1WoDetails">@L.GetLocalization("Player1Score")</label>
                        <InputNumber id="ScorePlayer1WoDetails" @bind-Value="@Game.ScorePlayer1WoDetails" />        
                    </div>
                    <div class="form-group form-inline">
                        <label for="ScorePlayer1WoDetails">@L.GetLocalization("Player2Score")</label>
                        <InputNumber id="ScorePlayer1WoDetails" @bind-Value="@Game.ScorePlayer2WoDetails" />        
                    </div>
                }
                else
                {
                <div class="form-group">
                    <input type="button" value="@L.GetLocalization("AddLine")" @onclick="@(() => AddLine(User1Id))" class="btn btn-primary"/>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>@L.GetLocalization("Maelstrom")</th>
                            <th>@L.GetLocalization("Eternal")</th>
                            <th>@L.GetLocalization("KP")</th>
                            <th>@L.GetLocalization("Others")</th>
                            <th>@L.GetLocalization("Total")</th>
                            <th>@L.GetLocalization("CpUsed")</th>
                        </tr>
                        </thead>
                        <tbody>
                        @if (Game.GameLines != null)
                        {
                        @foreach (var line1 in Game.GameLines)
                        {
                        if (line1.Player.Id == User1Id)
                        {
                        <tr>
                            <td>
                                <InputNumber class="form-control" @bind-Value="@line1.Maelstrom"/>
                            </td>
                            <td>
                                <InputNumber class="form-control" @bind-Value="@line1.Eternal"/>
                            </td>
                            <td>
                                <InputNumber class="form-control" @bind-Value="@line1.Kp"/>
                            </td>
                            <td>
                                <InputNumber class="form-control" @bind-Value="@line1.Others"/>
                            </td>
                            <td>@line1.Total</td>
                            <td>
                                <InputNumber class="form-control" @bind-Value="@line1.CpUsed"/>
                            </td>
                        </tr>
                        }
                        }
                        }
                        <tr>
                            <td class="text-center font-weight-bold">@Game.TotalMaelstromPlayer1</td>
                            <td class="text-center font-weight-bold">@Game.TotalEternalPlayer1</td>
                            <td class="text-center font-weight-bold">@Game.TotalKpPlayer1</td>
                            <td class="text-center font-weight-bold">@Game.TotalOthersPlayer1</td>
                            <td class="text-center font-weight-bold">@Game.TotalPlayer1</td>
                            <td class="text-center font-weight-bold">@Game.CpLeftPlayer1</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                }            
            </div>
            <div class="col-md-6">
                <h2>@L.GetLocalization("Player2")</h2>
                <div class="form-group form-inline">
                    <label for="User2">@L.GetLocalization("Player2")</label>
                    <InputSelect id="User2" @bind-Value="User2Id">
                        <option value=""></option>
                        @foreach (var user in Users)
                        {
                        <option value=@user.Id>@user.UserName</option>
                        }
                    </InputSelect>
                </div>
                <div class="form-group form-inline">
                    <label for="ArmyPlayer2Id">@L.GetLocalization("Army")</label>
                    <InputSelect for="ArmyPlayer2Id" id="ArmyPlayer2Id" @bind-Value="@ArmyPlayer2Id">
                        <option value=""></option>
                        @foreach (var army in Armies)
                        {
                        <option value=@army.Id.ToString()>@army.Name</option>
                        }
                    </InputSelect>
                </div>
                <div class="form-group form-inline">
                    <label for="CpPlayer2">@L.GetLocalization("CP")</label>
                    <InputNumber id="CpPlayer2" class="form-control" @bind-Value="@Game.CpPlayer2"/>
                </div>
                @if (!Game.NoDetails)
                {
                <div class="form-group">
                    <input type="button" value="@L.GetLocalization("AddLine")" @onclick="@(() => AddLine(User2Id))" class="btn btn-primary"/>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>@L.GetLocalization("Maelstrom")</th>
                            <th>@L.GetLocalization("Eternal")</th>
                            <th>@L.GetLocalization("KP")</th>
                            <th>@L.GetLocalization("Others")</th>
                            <th>@L.GetLocalization("Total")</th>
                            <th>@L.GetLocalization("CpUsed")</th>
                        </tr>
                        </thead>
                        <tbody>
                        @if (Game.GameLines != null)
                        {
                        @foreach (var line2 in Game.GameLines)
                        {
                        if (line2.Player.Id == User2Id)
                        {
                        <tr>
                            <td>
                                <InputNumber class="form-control" @bind-Value="@line2.Maelstrom"/>
                            </td>
                            <td>
                                <InputNumber class="form-control" @bind-Value="@line2.Eternal"/>
                            </td>
                            <td>
                                <InputNumber class="form-control" @bind-Value="@line2.Kp"/>
                            </td>
                            <td>
                                <InputNumber class="form-control" @bind-Value="@line2.Others"/>
                            </td>
                            <td>@line2.Total</td>
                            <td>
                                <InputNumber class="form-control" @bind-Value="@line2.CpUsed"/>
                            </td>
                        </tr>
                        }
                        }
                        }
                        <tr>
                            <td class="text-center font-weight-bold">@Game.TotalMaelstromPlayer2</td>
                            <td class="text-center font-weight-bold">@Game.TotalEternalPlayer2</td>
                            <td class="text-center font-weight-bold">@Game.TotalKpPlayer2</td>
                            <td class="text-center font-weight-bold">@Game.TotalOthersPlayer2</td>
                            <td class="text-center font-weight-bold">@Game.TotalPlayer2</td>
                            <td class="text-center font-weight-bold">@Game.CpLeftPlayer2</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                }
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="btn-group" style="margin-bottom: 10px;" role="group">
                    <button type="button" class="btn btn-dark" @onclick="ChangeNoteView">@L.GetLocalization("Note")</button>
                    <button type="button" class="btn btn-dark" @onclick="ChangeList1View">@L.GetLocalization("Player1") - @L.GetLocalization("List")</button>
                    <button type="button" class="btn btn-dark" @onclick="ChangeList2View">@L.GetLocalization("Player2") - @L.GetLocalization("List")</button>
                </div>
                @if (ShowNote)
                {
                <div class="form-group">
                    <InputTextArea id="Note" @bind-Value="@Game.Note" class="form-control"></InputTextArea>
                </div>
                }
                @if (ShowList1)
                {
                <div class="form-group">
                    <InputTextArea id="List1" @bind-Value="@Game.ListPlayer1" class="form-control"></InputTextArea>
                </div>
                }
                @if (ShowList2)
                {
                <div class="form-group">
                    <InputTextArea id="List2" @bind-Value="@Game.ListPlayer2" class="form-control"></InputTextArea>
                </div>
                }
            </div>
        </div>
        <button class="btn btn-primary" type="submit">@L.GetLocalization("Submit")</button>
        <input type="button" value="@L.GetLocalization("Cancel")" @onclick="Cancel" class="btn btn-secondary"/>
    </EditForm>
</div>

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            }