@page "/calendar"
@attribute    [Authorize(Roles = "User,Admin")]
@inherits CalendarPage
<div class="container-fluid">
    <header>
        <h1>
            <button @onclick="PreviousMonth" class="btn btn-primary">
                <i class="oi oi-arrow-left"></i>
            </button>
            @CurrentDate.ToString("MMMM").First().ToString().ToUpper()@CurrentDate.ToString("MMMM").Substring(1) @CurrentDate.Year
            <button @onclick="NextMonth" class="btn btn-primary">
                <i class="oi oi-arrow-right"></i>
            </button>
        </h1>
        <div class="row d-none d-sm-flex p-1 bg-dark text-white">
            @foreach (var day in Days)
            {
                <h5 class="col-sm p-1 text-center">@L.GetLocalization(day.ToString())</h5>
            }
        </div>
    </header>
    <div class="row border border-right-0 border-bottom-0">
        @foreach (var date in Dates)
        {
            if (date.DayOfWeek == CultureInfo.CurrentCulture.DateTimeFormat.FirstDayOfWeek)
            {
                <div class="w-100"></div>
            }
            <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate d-none d-sm-inline-block bg-light text-muted">
                <h5 class="row align-items-center">
                    <span class="date col-1">@date.Day</span>
                    <span class="col-1"></span>
                </h5>
                @if (GetGames(date).Any())
                {
                    foreach (var game in GetGames(date))
                    {
                        <a class="event d-block p-1 pl-2 pr-2 mb-1 rounded text-truncate small bg-primary text-white" href="/game/detail/@game.Id">@game.Player1Name vs @game.Player2Name</a>
                    }
                }
                else
                {
                    <p class="d-sm-none">No events</p>
                }
                @if (GetGameRequests(date).Any())
                {
                    foreach (var gameRequest in GetGameRequests(date))
                    {
                        <a class="event d-block p-1 pl-2 pr-2 mb-1 rounded text-truncate small bg-danger text-white" href="/gamerequest/detail/@gameRequest.Id">@L.GetLocalization("GameRequestFrom") @gameRequest.PlayerUserName</a>
                    }
                }
                else
                {
                    <p class="d-sm-none">No events</p>
                }
                @if (GetObjectives(date).Any())
                {
                    foreach (var objective in GetObjectives(date))
                    {
                        <a class="event d-block p-1 pl-2 pr-2 mb-1 rounded text-truncate small bg-info text-white" href="/objective/detail/@objective.Id">@objective.Title - @objective.PlayerUserName</a>
                    }
                }
                else
                {
                    <p class="d-sm-none">@L.GetLocalization("NoEvent")</p>
                }
            </div>
        }
    </div>
</div>