@page "/user/add/"
@attribute [Authorize(Roles = "Admin")]
@inherits CreateUser
<h1>@L.GetLocalization("Users") - @L.GetLocalization("Create")</h1>
<div class="shadow-lg rounded form-box">
    <div class="row">
        <div class="col-md-12">
            <EditForm Model="ApplicationUser" OnSubmit="@FormSubmit">
                <DataAnnotationsValidator/>
                <ValidationSummary/>
                <div class="form-group form-inline">
                    <label for="username">@L.GetLocalization("UserName")</label>
                    <InputText id="username" @bind-Value="@ApplicationUser.UserName"/>
                </div>
                <div class="form-group form-inline">
                    <label for="email">@L.GetLocalization("Email")</label>
                    <InputText id="email" @bind-Value="@ApplicationUser.Email"/>
                </div>
                <div class="form-group form-inline">
                    <label for="phone">@L.GetLocalization("PhoneNumber")</label>
                    <InputText id="phone" @bind-Value="@ApplicationUser.PhoneNumber"/>
                </div>
                <div class="form-group form-inline">
                    <label for="password">@L.GetLocalization("Password")</label>
                    <InputText id="password" type="password" @bind-Value="@ApplicationUser.Password"/>
                </div>
                <div class="form-group form-inline">
                    <label for="confirmpassword">@L.GetLocalization("ConfirmPassword")</label>
                    <InputText id="confirmpassword" type="password" @bind-Value="@ApplicationUser.ConfirmPassword"/>
                </div>
                <div class="form-group form-inline">
                    <label for="role">@L.GetLocalization("Role")</label>
                    <InputSelect id="role" @bind-Value="@Role">
                        <option value=""></option>
                        <option value="User">@L.GetLocalization("User")</option>
                        <option value="Admin">@L.GetLocalization("Admin")</option>
                    </InputSelect>
                </div>
                <button class="btn btn-primary" type="submit">@L.GetLocalization("Submit")</button>
                <input type="button" value="@L.GetLocalization("Cancel")" @onclick="Cancel" class="btn btn-secondary"/>
            </EditForm>
        </div>
    </div>
</div>

                                                                                                                 