@page "/user/delete/{id}"
@attribute [Authorize(Roles = "Admin")]
@inherits DeleteUser

<h1>@L.GetLocalization("Users") - @L.GetLocalization("Delete")</h1>
<div class="alert alert-danger" role="alert">
    @L.GetLocalization("DeleteMessage") @L.GetLocalization("user_single") ?
</div>

<div class="shadow-lg rounded form-box">
    <div class="row">
        <EditForm Model="ApplicationUser" OnSubmit="@FormSubmit">
            <DataAnnotationsValidator/>
            <ValidationSummary/>
            <div class="form-group form-inline">
                <label for="username">@L.GetLocalization("UserName")</label>
                <InputText id="username" @bind-Value="@ApplicationUser.UserName" disabled/>
            </div>
            <div class="form-group form-inline">
                <label for="email">@L.GetLocalization("Email")</label>
                <InputText id="email" @bind-Value="@ApplicationUser.Email" disabled/>
            </div>
            <button class="btn btn-primary" type="submit">@L.GetLocalization("Submit")</button>
            <input type="button" value="@L.GetLocalization("Cancel")" @onclick="@Cancel" class="btn btn-secondary"/>
        </EditForm>
    </div>
</div>