@page "/user"
@using Microsoft.Extensions.Localization
@using WarhammerTracking.Data
@attribute [Authorize(Roles = "Admin")]
@inject UserDataAccessProvider UserDataAccessProvider
@inject IStringLocalizer<List> L

<h1>@L["Users"]</h1>

    <div class="shadow-lg rounded form-box">
    <a href="/user/add" class="btn btn-primary">@L["Add"]</a>
    <DataGrid Items="Users" PageSize="5">
        <Column>
            <DataGridColumn Items="@Users" ColumnName="UserName" DisplayColumnName="@L["UserName"]" Size="20"></DataGridColumn> 
            <th>@L["Actions"]</th>
        </Column>
        <GridRow >
            <td>@context.UserName</td>
            <td>
                <a href="/user/edit/@context.Id" class="btn btn-primary">@L["Edit"]</a>
                <a href="/user/delete/@context.Id" class="btn btn-danger">@L["Delete"]</a>
            </td>
        </GridRow>
    </DataGrid>
</div>

@code {
    ApplicationUser[] Users;

    protected override async Task OnInitializedAsync()
    {
        Users = await UserDataAccessProvider.ListUser();
    }

}