@page "/user"
@attribute [Authorize(Roles = "Admin")]
@inherits ListUser

<h1>@L.GetLocalization("Users")</h1>

<div class="shadow-lg rounded form-box">
    <a href="/user/add" class="btn btn-primary">@L.GetLocalization("Add")</a>
    <DataGrid Items="ApplicationUsers" TItem="Data.Models.ApplicationUser" PageSize="5">
        <Column>
            <DataGridColumn TItem="Data.Models.ApplicationUser" ColumnName="UserName" DisplayColumnName="@L.GetLocalization("UserName")"></DataGridColumn>
            <th>@L.GetLocalization("Actions")</th>
        </Column>
        <GridRow >
            <td>@context.UserName</td>
            <td>
                <a href="/user/edit/@context.Id" class="btn btn-primary">@L.GetLocalization("Edit")</a>
                <a href="/user/delete/@context.Id" class="btn btn-danger">@L.GetLocalization("Delete")</a>
            </td>
        </GridRow>
    </DataGrid>
</div>